
/* Google fonts */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@font-face {
  font-family: Obviously-Regular;
  src: url(../../assets/fonts/Obviously-Regular.ttf);
}


@font-face {
  font-family: Obviously-Semibold;
  src: url(../../assets/fonts/Obviously-Semibold.ttf);
}


@font-face {
  font-family: Obviously-Wide-Bold;
  src: url(../../assets/fonts/Obviously-Wide-Bold.ttf);
}

@font-face {
  font-family: Obviously-Narrow-Medium;
  src: url(../../assets/fonts/Obviously-Narrow-Medium.ttf);
}


@font-face {
  font-family: 'icomoon';
  src: url('../../assets/fonts/icomoon.eot?hei13n');
  src: url('../../assets/fonts/icomoon.eot?hei13n#iefix') format('embedded-opentype'),
  url('../../assets/fonts/icomoon.ttf?hei13n') format('truetype'),
  url('../../assets/fonts/icomoon.woff?hei13n') format('woff'),
  url('../../assets/fonts/icomoon.svg?hei13n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus:before {
  content: "\e900";
}

.icon-plus:before {
  content: "\e901";
}

.icon-close:before {
  content: "\e902";
}

.icon-angle-left:before {
  content: "\e903";
}

.icon-angle-up:before {
  content: "\e904";
}

.icon-arrow-left:before {
  content: "\e905";
  color: #fff;
}

.icon-check:before {
  content: "\e906";
  color: #039f00;
}

.icon-menu:before {
  content: "\e907";
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Obviously-Regular;
  color: #000;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

.form-control {
  background: #fff;
  height: 40px;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  font-size: 13px;
  color: #949494;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
  color: #000;
  border: 1px solid #E50062 !important;
}

.form-group {
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

.btn {
  padding: 8px 30px;
  border-radius: 30px;
  font-weight: 400;
  font-size: 16px;
  transition: all 0.2s;
  font-family: Obviously-Semibold;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-danger {
  background: #E50062;
  border-color: #E50062;
  color: #fff;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
  background: #000;
  border-color: #000;
}

.text-danger {
  color: #E50062 !important;
}

.font-Montserrat {
  font-family: 'Montserrat', sans-serif;
}

/* header*/

header {
  background: #E50062;
}

body.offcanvas-active {
  overflow: hidden;
}

.navbar {
  box-shadow: 0px 5.13016px 6.4127px rgba(0, 0, 0, 0.25);
  background: #E50062;
}


.navbar-nav .nav-item {
  padding: 5px 6px;
}

.navbar-nav .nav-item .fa-angle-right {
  display: none;
}

/*.navbar-nav .nav-item:last-child .fa-angle-right {
  display: inline-block;
}*/

.navbar-nav .nav-link {
  color: #fff !important;
  font-weight: 530;
  font-size: 16px;
  line-height: 24px;
}

.navbar-nav .nav-link:hover {
  color: #000 !important;

}

.navbar-nav .nav-link.text-black {
  color: #000 !important;
}


.offcanvas-header {
  display: none;
}

.screen-overlay {
  width: 0%;
  height: 100%;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(34, 34, 34, 0.6);
  transition: opacity 0.2s linear, visibility 0.1s, width 1s ease-in;
}

.screen-overlay.show {
  transition: opacity 0.5s ease, width 0s;
  opacity: 1;
  width: 100%;
  visibility: visible;
}

.main-heading {
  font-weight: 500;
  font-size: 38px;
  line-height: 45px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-family: Obviously-Narrow-Medium;
  letter-spacing: -1.6px;
}

.navbar-toggler .fa-close {
  -webkit-text-stroke: 4px #e50062;
  font-size: 32px;
}

.navbar-toggler .fa-bars {
  -webkit-text-stroke: 2px #e50062;
}

/* Mian */
main {
  padding-top: 60px;
}

.hero-section {
  background-image: url('../../assets/images/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 80px 0;
  height: 550px;
  display: flex;
  align-items: center;
}


.hero-section p {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.hero-section h1 {
  color: #E50062;
  font-weight: 700;
  font-size: 65px;
  line-height: 45px;
  font-family: Obviously-Wide-Bold;
}

.hero-section h1 span {
  font-size: 45px;
}

.hero-section h2 {
  color: #E50062;
  font-weight: 600;
  font-size: 60px;
  line-height: 32px;
  font-family: Obviously-Wide-Bold;
}

.hero-section h2 sub {
  font-size: 22px;
}

.hero-section .btn {
  min-width: 320px;
  margin-top: 15px;
}

/* Our services */

.services-section {
  padding: 60px 0;
  background: #EFEFEF;
}

.services-section h6 {
  font-weight: 500;
  font-size: 15.2641px;
  line-height: 23px;
}

.services-section .item {
  padding: 10px;
}


.services-section .card {
  box-shadow: 0px 0px 10.3443px rgba(0, 0, 0, 0.25);
  border-radius: 20.6887px;
  border: 0;
}

.services-section .card-body {
  padding: 30px 10px;
}

.services-section .card img {
  width: auto;
  margin: 0 auto 20px;
}

.services-section .card p {
  font-weight: 700;
  font-size: 13px;
  line-height: 21px;
  margin-bottom: 0;
  min-height: 63px;
}

.services-section .btn {
  border: 1.90801px solid #D9D9D9;
  border-radius: 0;
  font-weight: 560;
  font-size: 16px;
  line-height: 31px;
  color: #000000;
  padding: 3px 30px;
  margin-bottom: 20px;
}

/* Our Partner */

.our-partner {
  padding: 60px 0;
  background: #fff;
}

.our-partner ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-partner ul li {
  padding: 15px 30px;
}

/* Plan */

.plan-section {
  padding: 50px 0;
  background: #000;
}

.plan-section .main-heading {
  color: #fff;
}

.plan-section .card {
  border-radius: 12px;
  border: 0;
  text-align: center;
  border: 3px solid #fff;
}

.plan-section .card-border {
  border: 3px solid #E50062;

}

.plan-section .card-body {
  padding: 30px;
}

.plan-section .card ul {
  text-align: left;
  background: #EFEFEF;
  margin-left: -30px;
  margin-right: -30px;
  padding: 10px 30px;
}

.plan-section .card ul li {
  font-weight: 650;
  font-size: 13.3561px;
  line-height: 22px;
  padding: 2px 0;
}

.plan-section .card p {
  font-weight: 640;
  font-size: 16px;
  line-height: 20px;
}

.plan-section .card h1 {
  color: #E50062;
  font-weight: 670;
  font-size: 55px;
  font-family: Obviously-Wide-Bold;
  line-height: 45px;
}


.plan-section .card h1 .type {
  font-size: 38px;

}

.plan-section .card h2 {
  color: #E50062;
  font-size: 45px;
  font-family: Obviously-Wide-Bold;
  width: min-content;
  margin: 10px auto 45px;

}


.plan-section .card h2 sup {
  font-size: 9px;
  position: relative;
  top: -24px;
}


.plan-section .card h2 sub {
  font-size: 24px;
}

.plan-section .card small {
  float: right;
  display: block;
  color: #E50062;
  font-size: 8px;
  margin-top: 8px;
}


.plan-section .card ul li img {
  width: 12px;
  margin-right: 3px;
  display: inline-block;
}


.badge {
  position: absolute;
  left: -7px;
  top: -5px;
  width: 125px;
}

/* FAQ */

.faq-section {
  padding: 50px 0 60px;
  background: #EFEFEF;
}

.accordion .card-header:after {
  font-family: 'icomoon' !important;
  content: "\e900";
  float: right;
  font-weight: 600;
}

.accordion .card-header.collapsed:after {
  content: "\e901";
}

.data-toggle="collapse" {}

.faq-section .card {
  border: 0;
  background: #fff;
  border-radius: 0;
  margin: 15px 0;
  border-left: 3px solid #E50062;
}

.faq-section .card-body {
  padding: 0 15px 25px;
}

.faq-section .card .card-header {
  background: #fff;
  cursor: pointer;
  border: 0;
  padding: 12px 15px;
}

.faq-section .card .card-header a {
  font-weight: 600;
  font-size: 13.5px;
  color: #000;
}


.faq-section .card p {
  font-weight: 530;
  font-size: 11.5px;
  line-height: 18px;
  margin-bottom: 0;
  width: 80%;
}

.owl-dots {
  margin-top: 10px;
  text-align: center;
}

.owl-dots button.owl-dot.active {
  background-color: #fff;
}

.owl-dots button.owl-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background: #D9D9D9;
  margin: 0 3px;
}


/* Consultant form */

.consultant-section {
  padding: 50px 0;
  background: #EFEFEF;
}

.consultant-section a {
  text-decoration: underline;
  font-weight: 500;
  font-size: 12px;
  color: #000;
}

.consultant-section label {
  font-weight: 540;
  font-size: 11px;
}

.register-section .register-content {
  background: #000000;
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 110px;
}

.register-section .form-inner {
  padding: 40px 240px 30px 120px;
}

.register-section .form-inner h5 {
  color: #E50062;
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
}

.register-section .form-inner .form-label {
  font-style: normal;
  font-weight: 530;
  font-size: 12px;
  line-height: 18px;
  padding-left: 10px;
}

.register-section .form-inner .form-group {
  margin-bottom: 20px;
  position: relative;
}

.register-section .form-inner .form-control::placeholder {
  color: #949494;
}

.register-section .form-inner label {
  font-size: 11px;
}

.register-section .form-inner small {
  font-size: 10px;
  line-height: 16px;
  display: block;
}

.register-section .form-inner p a {
  font-size: 14px;
  line-height: 21px;
  text-decoration: underline;
  color: #000;
}

.register-section .form-inner p a:hover {
  color: #E50062;
}

.register-section .form-inner .icon-check {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 12px;
}

.success-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0;
  min-height: calc(100vh - 90px);
}

.success-section p {
  margin-top: 40px;
  font-size: 18px;
  margin-bottom: 30px;
}

.success-section .btn {
  border: 1.6864px solid #E50062;
  color: #E50062;
}

.success-section .btn:hover {
  border: 1.6864px solid #E50062;
  color: #fff;
  background: #E50062;
}

.custom-checkbox input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.custom-checkbox label {
  position: relative;
  cursor: pointer;
  font-weight: 500;
  font-size: 11px;
  margin-bottom: 0;
}

.custom-checkbox label:before {
  content: '';
  -webkit-appearance: none;
  background-color: #fff;
  box-shadow: 0 1px 2px rgb(0 0 0 / 5%), inset 0px -15px 10px -12px rgb(0 0 0 / 5%);
  padding: 7px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 1px;
  margin-right: 10px;
  border: 1px solid #000;
  float: left;
}

.custom-checkbox input:checked+label:after {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  left: 5px;
  width: 5px;
  height: 9px;
  border: solid #e50062;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-checkbox label span {
  display: flex;
  position: relative;
  top: -2px;
}

.plan-section .owl-nav {
  position: absolute;
  position: absolute;
  top: 46%;
  transform: translateY(-50%);
  color: #767676 !important;
  margin: 0;
  font-size: 30px !important;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.plan-section .owl-nav button {
  width: 50px;
  height: 50px;
  background: #fff;
  line-height: 16px !important;
  border: 1px solid #F3F3F3;
  border-radius: 50%;
  background: #e50062 !important;
  position: absolute;
}

.plan-section .owl-nav button i {
  color: #fff;
  -webkit-text-stroke: 3px #e50062;
  font-size: 24px;
}


.plan-section .owl-prev {
 left: -12px;
}


.plan-section .owl-next {
 right: -12px;
}


/* Footer */

footer {
  background: #E50062;
  color: #fff;
  padding: 40px 0;
}

footer p {
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #000;
}

footer .footer-logo {
  margin-bottom: 20px;
}

footer .social-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

footer .social-icon li {
  padding: 0 6px;
}

.scrollTop {
  position: absolute;
  right: 0px;
  height: 45px;
  width: 45px;
  line-height: 38px;
  bottom: 188px;
  background-color: #000;
  text-align: center;
  opacity: 0;
  border-radius: 0;
  transition: all 0.4s ease-in-out 0s;
  z-index: 9999;
  font-size: 30px;
  color: #fff;
}

.scrollTop:hover {
  color: #fff;
}

.modal .modal-content {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}


.modal .icon-close {
  font-size: 32px;
}

.modal .modal-body {
  padding: 10px 40px 80px;
}

.modal .modal-body a,
.modal .modal-body label {
  color: #000000;
  font-weight: 600;
  font-size: 11px;
  text-decoration: underline;
  line-height: 17px;
  margin-bottom: 15px;
}

.modal .modal-body label {
  text-decoration: none;
}

.cta {
  position: fixed;
  bottom: 70px;
  right: 50px;
  background: #000000;
  border: 1px solid #000;
  border-radius: 44px;
  font-weight: 560;
  font-size: 12px;
  z-index: 999;
  padding: 8px 18px;
}


.cta img {
  position: absolute;
  top: -60px;
  right: 0;
}

#preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: '';
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #E50062;
  border-top-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.register-section  .row {
  min-height: 100vh;
}

/* Media Query */

@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1250px;
  }
}

@media only screen and (max-width: 1450px) {
  .register-section .form-inner {
    padding: 40px 100px 30px 100px;
  }
}

@media only screen and (max-width: 1200px) {

  .navbar-nav .nav-link {
    color: #fff !important;
    font-weight: 530;
    font-size: 14px;
  }

  header .nav-item {
    padding: 5px 8px !important;
  }

  .register-section .form-inner {
    padding: 40px 60px 30px 60px;
  }

  .register-section .register-content {
    padding: 30px 50px;
  }

}

@media all and (max-width: 992px) {
  .offcanvas-header {
    display: block;
  }

  .mobile-offcanvas {
    visibility: hidden;
    transform: translateX(100%);
    border-radius: 0;
    display: block;
    position: fixed;
    top: 70px;
    left: 0;
    height: 100%;
    z-index: 1200;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: visibility 0.4s ease-in-out, transform 0.4s ease-in-out;
    background-color: #fff !important;
  }


  .mobile-offcanvas.show {
    visibility: visible;
    transform: translateX(0);
  }

  .nav-cont {
    display: block !important;
    padding-right: auto !important;
    padding-left: auto !important;
  }

  .navbar2 {
    padding: 20px 15px;
  }


  .navbar-light .logo-top {
    width: 175px;
  }

  .navbar-toggler {
    padding: 0;
    color: #fff;
  }

  .navbar-nav .nav-link {
    color: #000 !important;
  }

  .btn-close {
    position: absolute;
    top: 10px;
    border: 0;
    right: 15px;
  }

  .navbar-nav {
    margin-top: 30px;
  }

  .our-partner ul li {
    padding: 15px 15px;
  }

  .scrollTop {
    right: 30px;
    height: 40px;
    width: 40px;
    line-height: 37px;
  }

  .navbar-toggler {
    color: #000 !important;
    border: 0;
    font-size: 28px;
  }

  header .nav-item {
    padding: 0px 8px !important;
  }

  .navbar-nav .nav-link i {
    float: right;
    font-size: 21px;
  }

/*  .navbar-nav .nav-item:last-child .nav-link i {
    float: unset;
    color: #E50062;
  }*/

/*  .navbar-nav .nav-item:last-child .nav-link {
    color: #E50062 !important;
    margin-top: 30px;
  }*/

  .navbar-nav .nav-item .fa-angle-right {
    display: block;
  }

  main {
    padding-top: 71px;
  }

  .register-section .form-inner {
    padding: 40px 20px 30px 20px;
  }

  .register-section .register-content {
    padding: 40px 30px;
  }

}

@media (max-width: 768px) {

  .faq-section {
    padding: 30px 0;
  }


  .scrollTop {
    display: none;
  }

  .accordion .card-header:after {
    font-size: 14px;
    position: absolute;
    right: 10px;
    top: 15px;
  }

  .faq-section .card .card-header a {
    font-size: 13px;
  }

  .faq-section .card p {
    font-size: 11px;
    width: 90%;
  }

  .faq-section .card .card-header {
    line-height: 18px;
    width: 90%;
  }

  .faq-section .card {
    margin: 10px 0;
  }

  .our-partner ul {
    flex-wrap: wrap;
  }

  .our-partner ul li {
    padding: 15px 25px;
    width: 33.33%;
  }

  .our-partner {
    padding: 50px 0;
    background: #fff;
  }

  .services-section {
    padding: 50px 0;
  }

  .services-section .item {
    padding: 8px;
  }

  .register-content p {
    font-size: 14px;
    margin-bottom: 0;
  }

  .plan-section .item:after {
    content: "";
    background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0.25) 59.03%, rgba(0, 0, 0, 0) 94.44%);
    width: 90px;
    height: 100%;
    position: absolute;
    right: -30px;
    top: 0;
  }


}


@media (max-width: 576px) {

  .copy-right {
    font-size: 11px;
  }


  .plan-section .card ul {
    padding: 10px 45px;
  }


  .our-partner ul li {
    padding: 12px 10px;
    width: 33.33%;
  }

  .hero-section .btn {
    min-width: 100%;
  }

  .hero-section {
    padding: 70px 0 40px;
    height: auto;
    background-position: 64% 51%;
    background-image: url(../../assets/images/banner-mb.png);
  }


  .main-heading {
    font-size: 32px;
    line-height: 40px;
  }

  .consultant-section {
    padding: 40px 0;
  }

  .cta {
    bottom: 50px;
    right: 20px;
    font-size: 11px;
    padding: 6px 15px;
  }

  .cta img {
    position: absolute;
    top: -38px;
    width: 45px;
    right: 0;
  }

  .success-section p {
    font-size: 16px;
  }

  .register-section .form-inner {
    padding: 30px 10px;
  }

  .register-section .form-inner .form-label {
    font-size: 11px;
  }

  .owl-dots {
    margin-top: 5px;
  }

  .services-section .card p {
    font-size: 12px;
    min-height: 85px;
    line-height: 18px;
    font-weight: 600;
  }

  .services-section .card-body {
    padding: 30px 15px 15px;
  }


}